@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#waybar {
    background: transparent;
    background-color: shade(@base, 0.9);
    color: @text0;
    transition-property: background-color;
    transition-duration: 0.1s;
    margin: 5px 5px;
}

button:hover {
    background: inherit;
    color: @green;
}

#workspaces {
    margin: 5px;
    background-color: @surface0;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    border-radius: 1rem;
    border: 2px solid @lavender;
}

#workspaces button:first-child{
    border-radius: 1rem 0px 0px 1rem;
}

#workspaces button:last-child{
    border-radius: 0px 1rem 1rem 0px;
}

#workspaces button {
    padding: 0.4rem;
    color: @lavender;
}

#workspaces button.active {
    color: @green;
}

#workspaces button:only-child {
    border-radius: 1rem;
    color: @green; 
}

#taskbar {
    margin: 5px;
    background-color: @surface0;
    margin-left: 0.25rem;
    margin-right: 1rem;
    border-radius: 1rem;
    border: 2px solid @lavender;
}

#taskbar button:first-child{
    border-radius: 1rem 0px 0px 1rem;
}

#taskbar button:last-child{
    border-radius: 0px 1rem 1rem 0px;
}

#taskbar button {
    padding: 0.4rem;
    color: @lavender;
}

#taskbar button.active {
    color: @green;
}

#taskbar button:only-child {
    border-radius: 1rem;
    color: @green; 
}

#custom-power,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#tray,
#network{
    background-color: @surface0;
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
}

#tray {
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: 2px solid @mauve
}

#clock {
    color: @teal;
    border-bottom: 2px solid @mauve;
    border-top: 2px solid @mauve;
}

#clock.date {
    color: @teal;
    border-bottom: 2px solid @mauve;
    border-top: 2px solid @mauve;
}

#pulseaudio {
    color: @flamingo;
    border-bottom: 2px solid @mauve;
    border-top: 2px solid @mauve;
}

#memory {
    color: @red;
    border-bottom: 2px solid @mauve;
    border-top: 2px solid @mauve;
}

#network {
    color: @green;
    border-bottom: 2px solid @mauve;
    border-top: 2px solid @mauve;
    border-radius: 1rem 0px 0px 1rem;
}

#battery {
    color: @green;
    border-bottom: 2px solid @mauve;
    border-left: 2px solid @mauve;
    border-top: 2px solid @mauve;
    border-radius: 1rem 0px 0px 1rem;
}

#backlight {
    color: @yellow;
    border-bottom: 2px solid @mauve;
    border-top: 2px solid @mauve;
}

#custom-power {
    color: @maroon;
    border-bottom: 2px solid @mauve;
    border-right: 2px solid @mauve;
    border-top: 2px solid @mauve;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#custom-os {
    color: @pink;
    border-radius: 1rem;
    margin-left: 1.5rem;
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
}
